aside,
nav,
footer,
header,
section {
    display: block;
}

html {
    font-size: 18px;
    font-family: Roboto;
}

html,
body {
    height: 100%;
    min-width: 320px;
    max-width: 500px;
}

/* инпуты -------------------------------------------------------------------------------------------------------------*/

div.input_wrapper {
    max-height: 60px;
    border-radius: 7px;
    position: relative;
    width: 520px;
    font-size: 16px;
    font-weight: 500;
    border: solid 1px #e2e2e2;
    background-color: #fff;
    padding: 20px 5px 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    margin-bottom: 50px;
}

input[type=text], input[type=email], input[type=tel], input[type=password], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #000;
    font-weight: 800;
    border: 0;
    outline: none;
    position: relative;
    width: 100%;
    font-size: inherit;
}

/* иконки -------------------------------------------------------------------------------------------------------------*/

i.img-email {
    width: 0;
    height: 20px;
    display: inline-block;
    position: absolute;
}
i.img-email::before {
    position: absolute;
    content: "";
    width: 20px;
    height: 16px;
    left: -36px;
    top: 1px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="20" height="16" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M17.352 16c.841 0 1.493-.246 1.955-.738.462-.493.693-1.224.693-2.196V2.924c0-.965-.244-1.693-.73-2.186C18.781.246 18.063 0 17.113 0H2.648C1.807 0 1.155.246.693.738.23 1.231 0 1.96 0 2.924v10.142c0 .972.244 1.703.73 2.196.488.492 1.206.738 2.156.738h14.466zm-7.338-7.063c-.17 0-.341-.043-.512-.13a2.163 2.163 0 0 1-.541-.423L2.3 1.659l.04-.014c.155-.047.33-.071.526-.071h14.266c.196 0 .371.024.525.071l.062.022-6.643 6.717c-.196.2-.38.343-.55.427a1.15 1.15 0 0 1-.513.126zM1.53 13.072V2.953l-.001-.01 5.013 5.05-5.012 5.079zm16.942-.02-4.989-5.064 4.99-5.026v10.09zm-1.338 1.374H2.867c-.196 0-.371-.024-.525-.071l-.035-.012 5.258-5.32.532.536c.323.324.64.557.954.7.313.142.634.213.963.213.323 0 .641-.07.954-.213.313-.143.631-.376.954-.7l.537-.54 5.249 5.319-.05.017c-.154.047-.329.071-.525.071z" fill="%235250CC" fill-rule="nonzero"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-size: cover;
}

i.img-name {
    width: 0;
    height: 20px;
    display: inline-block;
    position: absolute;
}
i.img-name::before {
    position: absolute;
    content: "";
    width: 19px;
    height: 20px;
    left: -36px;
    top: -2px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="19" height="20" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M9.518 9.7c.81 0 1.556-.216 2.24-.65a4.877 4.877 0 0 0 1.65-1.766c.416-.742.625-1.58.625-2.51 0-.907-.209-1.72-.626-2.44a4.764 4.764 0 0 0-1.65-1.706A4.207 4.207 0 0 0 9.517 0c-.81 0-1.56.211-2.25.633a4.751 4.751 0 0 0-1.662 1.725c-.417.727-.622 1.54-.614 2.44 0 .915.207 1.744.62 2.486A4.81 4.81 0 0 0 7.26 9.05c.686.434 1.439.65 2.257.65zM17.034 20c.612 0 1.092-.135 1.442-.405.35-.27.524-.643.524-1.12 0-.72-.218-1.472-.655-2.258-.437-.786-1.07-1.523-1.9-2.211-.83-.688-1.829-1.247-2.996-1.678-1.167-.43-2.482-.645-3.943-.645-1.461 0-2.778.215-3.949.645-1.171.43-2.17.99-2.996 1.678-.826.688-1.46 1.425-1.9 2.211-.44.786-.661 1.539-.661 2.258 0 .477.175.85.524 1.12.35.27.834.405 1.453.405h15.057z" fill="%235250CC" fill-rule="nonzero"%3E%3C/path%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-size: cover;
}

i.img-key {
    width: 0;
    height: 20px;
    display: inline-block;
    position: absolute;
}
i.img-key::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 22px;
    left: -36px;
    top: -1px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="12" height="22" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="m6.645 21.739 2.748-2.714a.84.84 0 0 0 .278-.642.843.843 0 0 0-.287-.632l-1.337-1.329 1.977-1.951a.825.825 0 0 0 .268-.632.887.887 0 0 0-.278-.642l-1.816-1.812c1.217-.582 2.155-1.35 2.814-2.3A5.448 5.448 0 0 0 12 5.91c0-.818-.155-1.585-.466-2.3A5.98 5.98 0 0 0 6.004 0 5.991 5.991 0 0 0 .467 3.6 5.738 5.738 0 0 0 0 5.911a5.887 5.887 0 0 0 1.661 4.113c.53.548 1.156.98 1.878 1.296v8.281c0 .149.026.304.08.465.053.16.146.3.277.418l1.45 1.245c.2.168.422.257.663.27a.8.8 0 0 0 .636-.26zm-.64-1.478-.98-.957v-9.062a4.434 4.434 0 0 1-3.064-2.38 4.332 4.332 0 0 1-.446-1.951c0-.818.201-1.56.603-2.226a4.532 4.532 0 0 1 1.618-1.594 4.408 4.408 0 0 1 2.269-.595 4.39 4.39 0 0 1 2.259.595 4.532 4.532 0 0 1 1.618 1.594c.402.666.603 1.408.603 2.226 0 .694-.154 1.341-.461 1.942a4.608 4.608 0 0 1-1.29 1.548 4.747 4.747 0 0 1-1.948.887v1.85l1.722 1.71-1.844 1.803v1.524l1.223 1.2-1.882 1.886zm0-14.294c.439 0 .815-.154 1.13-.46.313-.307.47-.68.47-1.12 0-.434-.157-.804-.47-1.11a1.558 1.558 0 0 0-1.13-.46c-.446 0-.824.15-1.134.454a1.5 1.5 0 0 0-.466 1.116c0 .44.157.813.47 1.12.314.306.69.46 1.13.46z" fill="%235250CC" fill-rule="nonzero"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-size: cover;
}

/* кнопки -------------------------------------------------------------------------------------------------------------*/

a.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 25px;
    border-radius: 10px;
    background-color: #ea455a;
    padding: 20px 86px 20px 86px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-decoration: none !important;
}

a.button:hover, a.button:focus, a.button:active {
    background-color: #d61a33;
    text-decoration: none !important;
}

/* select2 - общий стиль ----------------------------------------------------------------------------------------------*/

.select2-selection.select2-selection--single {
    position: relative;
}

.select2-selection.select2-selection--single:focus {
    outline: none !important;
}

/* стрелка */
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 60px !important;
    width: 40px !important;
}

/* стрелка */
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 7px 6px 0 !important;
}

/* выпадающий список */
.select2-dropdown {
    border-top: none !important;
    border-color: #e2e2e2 !important;
}

/* подсказка в выпадающем списке */
.select2-results__option.select2-results__message {
    font-size: smaller;
    opacity:   0.4;
}

/* поле ввода в выпадающем списке */
.select2-container--default .select2-search--dropdown .select2-search__field {
    border-color: #e2e2e2 !important;
    font-size: 16px;
    line-height: 28px;
    padding-left: 7px;
}

/* поле ввода в выпадающем списке */
.select2-container--default .select2-search--dropdown .select2-search__field:focus {
    outline: none !important;
}

/* выбранная опция в выпадающем списке */
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    font-size: 16px;
    line-height: 23px;
}

/* опции в выпадающем списке */
.select2-results__option {
    font-size: 16px;
    line-height: 23px;
}

/* select2 - выбор стран ----------------------------------------------------------------------------------------------*/

.select2_country_wrapper select {
    width: 100% !important;
}

/* контейнер */
.select2_country_wrapper .select2.select2-container {
    width: 100% !important;
    margin-bottom: 35px;
}

/* рамка вокруг селекта */
.select2_country_wrapper .select2-selection.select2-selection--single {
    width: 100% !important;
    height: 60px !important;
    border-color: #e2e2e2 !important;
}

/* иконка */
.select2_country_wrapper .select2-selection.select2-selection--single:before {
    display: block;
    background: url('data:image/svg+xml;charset=utf8,%3Csvg width="22" height="20" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M14.492 20a2.4 2.4 0 0 0 1.157-.288l5.372-2.91c.334-.185.58-.409.74-.672.16-.263.239-.576.239-.938V1.632c0-.399-.115-.708-.345-.928-.23-.22-.552-.33-.967-.33-.149 0-.3.024-.456.074a3.45 3.45 0 0 0-.523.224l-5.45 2.91L8.642.3A2.353 2.353 0 0 0 7.474 0c-.422 0-.808.1-1.157.299L.98 3.199c-.334.184-.58.406-.74.666-.16.259-.239.57-.239.932v13.561c0 .405.115.718.345.938.23.22.548.33.956.33.156 0 .312-.026.467-.08a4.9 4.9 0 0 0 .523-.218L7.52 16.61l5.705 3.07c.416.213.838.32 1.268.32zM1.991 17.356c-.104 0-.156-.064-.156-.192V5.256c0-.128.028-.24.084-.336a.701.701 0 0 1 .272-.25l4.16-2.314.183-.096c.056-.028.113-.06.173-.096v12.75l-4.538 2.389a.445.445 0 0 1-.178.053zm11.456.288a6.512 6.512 0 0 1-.223-.112 6.512 6.512 0 0 0-.222-.112l-4.449-2.399V2.388c.052.028.108.057.167.085.06.029.115.06.167.096l4.56 2.644v12.43zm1.835.16V5.074l4.55-2.366a.333.333 0 0 1 .166-.064c.052 0 .09.018.117.053a.23.23 0 0 1 .039.139v11.887a.688.688 0 0 1-.078.341.662.662 0 0 1-.278.245l-4.027 2.25-.244.128a3.83 3.83 0 0 1-.245.117z" fill="%235250CC" fill-rule="nonzero"/%3E%3C/svg%3E') no-repeat center center;
    width: 60px;
    height: 60px;
    content: ' ';
    position: absolute;
}

/* текст выбранного элемента при закрытом выпадающем списке */
.select2_country_wrapper .select2-selection__rendered {
    color: #333 !important;
    white-space: nowrap;
    margin-right: 15px;
    display: block;
    height: 60px;
    line-height: 60px !important;
    padding-left: 52px !important;
    font-size: 15px !important;
    font-weight: 800;
}

/* placeholder */
.select2_country_wrapper .select2-selection__placeholder {
    color: #333 !important;
    white-space: nowrap;
    margin-right: 15px;
    display: block;
    height: 60px;
    line-height: 60px;
    font-size: 15px !important;
    font-weight: 800;
}

/* select2 - выбор даты рождения --------------------------------------------------------------------------------------*/

/* рамка вокруг селекта */
.select2_dob_wrapper .select2-selection.select2-selection--single {
    height: 60px !important;
    border-color: #e2e2e2 !important;
}

.select2_dob_wrapper .select2 {
    margin-right: 20px !important;
    width: 28% !important;
    margin-bottom: 25px;
}

.select2_dob_wrapper .select2-selection__placeholder {
    color: #333 !important;
    white-space: nowrap;
    margin-right: 15px;
    display: block;
    height: 60px;
    line-height: 60px;
    font-size: 15px !important;
    font-weight: 800;
}

.select2_dob_wrapper .select2-selection__rendered {
    color: #333 !important;
    white-space: nowrap;
    margin-right: 15px;
    display: block;
    height: 60px;
    line-height: 60px !important;
    padding-left: 22px !important;
    font-size: 15px !important;
    font-weight: 800;
}